{% extends 'NejmeddineBundle:Default:layout.html.twig' %}

<!-- /.content-wrapper-->
        {% block affich %}
            <h1> Ajouter un staff technique</h1>
            {{ form(form) }}
        {% endblock %}
